<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Abusing JS Like a Boss</title>

    <meta
      name="description"
      content="Abusing JS Like a Boss is an Experimental Project to check and implement the things which I learnt form the courses."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <link rel="manifest" href="./site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f9f1e7" />
    <meta name="theme-color" content="#f9f1e7" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Abusing JS Like a Boss" />
    <meta
      property="og:description"
      content="Abusing JS Like a Boss is an Experimental Project to check and implement the things which I learnt form the courses."
    />
    <meta property="og:image" content="./peeps.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Abusing JS Like a Boss" />
    <meta
      name="twitter:description"
      content="Abusing JS Like a Boss is an Experimental Project to check and implement the things which I learnt form the courses."
    />
    <meta name="twitter:image" content="./peeps.jpg" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />

    <link rel="stylesheet" href="fonts.css" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    {% include "nav.html" %} {% block content %}{% endblock %} {% include
    "footer.html" %} {% include "scripts.html" %}
  </body>
</html>
