/*------------------*
# Base
*------------------*/
* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    font-size: $base-font-size;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
}

body {
    font-size: 1.4rem;
    font-family: $sansation;
    background-color: $color-black;
    color: $color-white;
    transition: all .3s ease;
}

a {
    text-decoration: none;
    color: $color-white;
  }

  ul {
    list-style: none;
  }

  h1 {
    margin: 0;
  }
