/*------------------*
# Variables
*------------------*/

/*
 * This file includes default variables to get going quickly on a project.
 * File includes:
 * - Base font family
 * - Base font sizes
 * - Heading spacing
 * - Paragraph spacing
 * - Base line height
 * - Base colors
*/

/*
 * font family
*/

$sansation: 'sansation';


/*
 * Base font sizes
*/

$base-font-size: 62.5%;

/*
 * Heading spacing
*/

$heading-spacing: 25px 0 10px !default;

/*
 * Paragraph spacing
*/

$paragraph-spacing: 0 0 25px !default;

/*
 * Base line height
*/

$base-line-height: 1.5 !default;

/*
 * Colors
*/

$color-white: #F2F5FF;
$color-black: #0A0908;
$rangoon-green-color: #10100E;
$cod-gray-color: #090909;
