{% extends "base.html" %} {% block content %}
<header>
  <div class="navbar">
    <div class="navbar__logo">
      <h1>SeEnd</h1>
    </div>
    <ul class="navbar__links">
      <a href="#" class="navbar__links__cta">How it works</a>
      <a href="#" class="navbar__links__cta">Editor's Pick Places</a>
    </ul>
  </div>
  <div class="container">
    <div class="left">
      <div class="left__intro">
        <h1 class="left__intro__heading">
          Trav<span>el</span> <br />Seam<span>lessl</span>y with<span>out a</span>ny <span>hesitation</span>.
        </h1>
        <h2 class="left__intro__secondary-heading">
          <span>select your seamle</span>ss destination on the go!
        </h2>
        <a href="#" class="left__intro-cta">Try Now</a>
      </div>
    </div>
    <div class="right">
      <img
        src="/images/peds.jpg"
        width="1083px"
        height="658px"
        alt="#"
        class="right__img"
      />
    </div>
  </div>
</header>
{% endblock %}
